* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Protest Riot", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.box-container {
  width: 600px;
  border-radius: 10px;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  border-radius: 4px;
    box-sizing: border-box;


}

.start-button-ctr{
  display: flex;
  justify-content: center;

}



h1 {
  font-size: 50px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
   
}

.button-30, #reset, #main {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Protest Riot", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  
}

.button-30:focus, #reset:focus, #main:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover, #reset:hover , #main:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active, #reset:active , #main:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.content {
  margin: 30px;
}

.word {
  font-size: 30px;
  text-align: center;
}

input {
  
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  font-family: "Protest Riot", sans-serif;
  font-weight: lighter;
  
}



.info {
  
  
  padding: 20px;
  word-spacing: 1px;
  line-height: 30px;
}

#reset {
  margin: 10px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}



